@font-face {
  font-family: 'Rubik';
  src: url('./fonts/rubik-regular-webfont.woff2') format('woff2'),
    url('./fonts/rubik-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/rubik-medium-webfont.woff2') format('woff2'),
    url('./fonts/rubik-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/rubik-bold-webfont.woff2') format('woff2'),
    url('./fonts/rubik-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root[data-theme="light"] {
  --bg: #E5E5E5;
  --sec-bg: #FAFAFA;
  --font: #171717;
  --sec-font: #404040;
}

:root[data-theme="dark"] {
  --bg: #262626;
  --sec-bg: #171717;
  --font: #FAFAFA;
  --sec-font: #A3A3A3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  color: var(--font);
  background: var(--bg);
  fill: var(--font);
  display: grid;
  grid-template-columns: 1fr 5fr 1.3fr;
  grid-template-rows: auto 1fr;

  nav {
    background: var(--sec-bg);
    grid-row: 1 / 3;
    padding: 2rem;

    ul {
      display: grid;
      gap: 20px;

      hr {
        margin: 1rem 0;
        border: none;
        height: 2px;
        background: var(--bg);
      }

      li {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: start;
        gap: 1rem;

        h2 {
          font-weight: 500;
        }

        h3 {
          font-weight: normal;
        }

        &:not(:first-child):has(>svg) {
          padding-left: 1rem;
        }

        &:first-child>svg {
          width: 4rem;
        }

        svg {
          width: 2rem;
        }
      }
    }
  }

  header {
    grid-column: 2 / -1;

    background: var(--sec-bg);
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    div:has(>.theme-toggle) {
      gap: 1rem;
    }

    .theme-toggle:hover {
      cursor: pointer;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        width: 1.8rem;
        margin-right: .5rem;
      }

      input[type="text"] {
        border-radius: 10px;
        border: 0;
        background-color: var(--bg);
        height: 1.8rem;
        font-family: Rubik;
        color: var(--font);
        font-size: .9rem;
        padding-left: 5px;
        width: 15rem;
      }

      button {
        padding: 8px 25px;
        border-radius: 15px;
        border: 0;
        font-size: 1rem;
        font-family: Rubik;
        font-weight: medium;
      }

      button:hover {
        outline: 5px solid var(--bg);
        cursor: pointer;
      }

      button:active {
        color: var(--sec-font);
        background: var(--sec-bg);
      }

      button+button {
        margin-left: 2rem;
      }

      .first-dp {
        width: 3em;
        border-radius: 50%;
        margin: 0 .5rem;
      }

      .first-dp+p {
        font-weight: 500;
      }

      .sec-dp {
        width: 4rem;
        border-radius: 50%;
        margin: 0 1.5rem 0 0;
      }

      .sec-dp+div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .3rem;

        p:nth-child(2) {
          font-weight: 500;
          font-size: 1.4rem;
        }
      }
    }
  }

  main>h3,
  aside>h3 {
    font-weight: 500;
    font-size: 125%;
    margin-bottom: 1.5rem;
  }

  main h4,
  aside h4 {
    font-weight: 500;
    font-size: 110%;
    margin-bottom: .5rem;
  }

  main,
  aside {
    padding: 2rem 1rem 1rem 2rem;
  }

  main {

    .cards {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

      p {
        color: var(--sec-font);
      }

      &>div {
        display: grid;
        gap: 2.5rem;
        align-content: space-between;

        background: var(--sec-bg);
        padding: 1rem;
        border-radius: 4px;
        border-left: 5px solid var(--sec-font);

        &>div:nth-child(2) {
          padding-right: 1rem;
          padding-bottom: 1rem;
          display: grid;
          grid-template-columns: auto auto auto;
          justify-content: end;
          gap: 1rem;
        }
      }
    }

    svg {
      width: 1.3rem;
    }
  }


  aside {

    padding-left: 0;

    hr {
      margin: 1rem 0;
      border: none;
      height: 2px;
      background: var(--bg);
    }

    .announcements,
    .trending {
      display: flex;
      flex-direction: column;
      background: var(--sec-bg);
      padding: 2rem;
      border-radius: 5px;
    }

    .announcements {
      margin-bottom: 2rem;

      h5 {
        font-size: .95rem;
        font-weight: 500;
        margin-bottom: .3rem;
      }

      p {
        font-size: .85rem;
        color: var(--sec-font);
      }
    }

    .trending {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;

      img {
        width: 3rem;
        border-radius: 50%;
      }

      &>div {
        display: flex;
        gap: 1rem;
        align-items: center;

        &+div {
          padding-top: 1rem;
        }

        p:first-child {
          padding-bottom: .2rem;
        }

        p:last-child {
          font-size: .9rem;
          color: var(--sec-font);
        }
      }
    }

  }

}